.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrowbottom {
	font-size:calc(12/10)*1rem;
	width:calc(20/12)*1em;
}
.icon-arrowright {
	font-size:calc(10/10)*1rem;
	width:calc(6/10)*1em;
}
.icon-arrowtop {
	font-size:calc(12/10)*1rem;
	width:calc(20/12)*1em;
}
.icon-battery {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-call {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
.icon-characteristics1 {
	font-size:calc(24/10)*1rem;
	width:calc(24/24)*1em;
}
.icon-characteristics2 {
	font-size:calc(18/10)*1rem;
	width:calc(18/18)*1em;
}
.icon-characteristics3 {
	font-size:calc(22/10)*1rem;
	width:calc(22/22)*1em;
}
.icon-characteristics4 {
	font-size:calc(18/10)*1rem;
	width:calc(18/18)*1em;
}
.icon-close {
	font-size:calc(25/10)*1rem;
	width:calc(25/25)*1em;
}
.icon-container {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-fluent {
	font-size:calc(30/10)*1rem;
	width:calc(31/30)*1em;
}
.icon-next {
	font-size:calc(12/10)*1rem;
	width:calc(20/12)*1em;
}
.icon-play {
	font-size:calc(34/10)*1rem;
	width:calc(30/34)*1em;
}
.icon-prev {
	font-size:calc(12/10)*1rem;
	width:calc(20/12)*1em;
}
.icon-ruler {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-speed {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-supervised {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-wa {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
.icon-water {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
.icon-weight {
	font-size:calc(30/10)*1rem;
	width:calc(30/30)*1em;
}
